<div class="flex flex-col items-center">
  <ul class="flex">
    <%= render "card", person: @main_node %>
    <% if !@main_node.spouses1.first.nil? || !@main_node.spouses2.first.nil? %>
      <% @main_node.spouses1.each do |spouse| %>
        <%= render "card", person: spouse %>
      <% end %>
      <% @main_node.spouses2.each do |spouse| %>
        <%= render "card", person: spouse %>
      <% end %>
    <% end %>
  </ul>
  <h2 class="text-2xl">Children:</h2>
  <div class="flex flex-wrap">
    <ul class="flex">
      <% if !@main_node.children.first.nil? %>
        <% @main_node.children.each do |child| %>
          <%= render "card", person: child %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
