<h1 class="text-center text-2xl mb-4">Edit photo</h1>
<%= render "form", photo: @photo %>
<br>
<div>
  <%= link_to "Show this photo", @photo %> |
  <%= link_to "Back to photos", photos_path %>
</div>
