<p style="color: green"><%= notice %></p>
<h1 class="text-3xl text-white mx-auto my-8 text-center">Photos</h1>
<div class="text-xl text-white mx-auto my-8 text-center">
  <%= button_to "+ Upload a new photo", new_photo_path, method: :get, class: "btn btn-primary" %>
</div>
<div id="photos" class="flex justify-center space-x-8 mb-8">
  <% @photos.each do |photo| %>
    <%= render photo %>
  <% end %>
</div>
